.Header {
  background-color: #f9f5f3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-area: head;
}

.Header .logo {
  margin-left: 4rem;
  height: 4.6rem;
  display: block;
}
