.pagination {
  margin-top: auto;
  padding: 0 3.5rem;
}

.pagination::after {
  content: "";
  display: table;
  clear: both;
}

.pagination__btnPrev {
  float: left;
}

.pagination__btnNext {
  float: right;
}

.PaginationBtn {
  color: #f38e82;
  font-size: 1.3rem;
  font-weight: 600;
  border: none;
  background-color: #f9f5f3;
  padding: 0.8rem 1.2rem;
  border-radius: 10rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all 0.2s;
}

.PaginationBtn:hover {
  background-color: #f2efee;
}

.pagination .ArrowIcon {
  height: 1.6rem;
  width: 1.6rem;
  fill: currentColor;
  margin: 0 0.2rem;
}
